_build/src/gum_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd" />
  <xs:element name="text">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="figure"/>
        <xs:element ref="list"/>
        <xs:element ref="p"/>
        <xs:element ref="table"/>
        <xs:element ref="quote"/>
        <xs:element ref="s"/>
        <xs:element ref="head"/>
        <xs:element ref="sp"/>
        <xs:element ref="incident"/>
      </xs:choice>
      <xs:attribute name="id" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="GUM_(bio|academic|reddit|fiction|news|whow|voyage|interview|conversation|speech|textbook|vlog)_[a-z]+[0-9]?"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    <xs:attribute name="author" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="shortTitle" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]+[0-9]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    <xs:attribute name="summary" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    <xs:attribute name="summary2" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dateCollected" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(xxxx|(19|20)[0-9][0-9])-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dateCreated" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(xxxx|(18|19|20)[0-9][0-9])-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dateModified" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(xxxx|(18|19|20)[0-9][0-9])-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="sourceURL" use="required" type="xs:anyURI"/>
      <xs:attribute name="speakerCount" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]+)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="speakerList" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(none|((#([A-Za-z0-9]|_|-)*), )*(#([A-Za-z0-9]|_|-)*))"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="title" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="sourcePublication" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="interview"/>
            <xs:enumeration value="news"/>
            <xs:enumeration value="voyage"/>
            <xs:enumeration value="whow"/>
            <xs:enumeration value="academic"/>
            <xs:enumeration value="bio"/>
            <xs:enumeration value="reddit"/>
            <xs:enumeration value="fiction"/>
            <xs:enumeration value="conversation"/>
            <xs:enumeration value="speech"/>
            <xs:enumeration value="textbook"/>
            <xs:enumeration value="vlog"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="head">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element  minOccurs="0" maxOccurs="unbounded" ref="s"/>
        <xs:element  minOccurs="0" maxOccurs="unbounded" ref="hi"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="foreign"/>
      </xs:choice>
      <xs:attribute name="rend" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lg">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="s"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="n" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="note">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="s"/>
      </xs:sequence>
      <xs:attribute name="place" type="xs:string"/>
      <xs:attribute name="n" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sp">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="s"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="head"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="list"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="p"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="quote"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="w"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="hi"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="foreign"/>
      </xs:choice>
      <xs:attribute name="who" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="#([A-Za-z0-9_][A-Za-z0-9_-]*)+(,#([A-Za-z0-9_][A-Za-z0-9_-]*)+)*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    <xs:attribute name="whom">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="#([A-Za-z0-9_][A-Za-z0-9_-]*)+(,#([A-Za-z0-9_][A-Za-z0-9_-]*)+)*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="target">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="#[A-Za-z0-9_-]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
     <xs:attribute name="when">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(xxxx|(19|20)[0-9][0-9])-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="s">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="add"/>
        <xs:element ref="row"/>
        <xs:element ref="figure"/>
        <xs:element ref="foreign"/>
        <xs:element ref="hi"/>
        <xs:element ref="sp"/>
        <xs:element ref="q"/>
        <xs:element ref="cell"/>
        <xs:element ref="w"/>
        <xs:element ref="quote"/>
        <xs:element ref="ref"/>
        <xs:element ref="date"/>
        <xs:element ref="gap"/>
        <xs:element ref="incident"/>
        <xs:element ref="l"/>
        <xs:element ref="list"/>
        <xs:element ref="measure"/>
        <xs:element ref="sic"/>
        <xs:element ref="time"/>
      </xs:choice>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="decl"/>
            <xs:enumeration value="sub"/>
            <xs:enumeration value="imp"/>
            <xs:enumeration value="q"/>
            <xs:enumeration value="wh"/>
            <xs:enumeration value="inf"/>
            <xs:enumeration value="ger"/>
            <xs:enumeration value="intj"/>
            <xs:enumeration value="frag"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="multiple"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="incident">
    <xs:complexType mixed="true">
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="who" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(#([A-Z][a-z]*)+(,#([A-Z][a-z]*)+)*|env)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="date">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="w"/>
        <xs:element ref="ref"/>
      </xs:choice>
      <xs:attribute name="from" type="xs:string"/>
      <xs:attribute name="notAfter" type="xs:string"/>
      <xs:attribute name="notBefore" type="xs:string"/>
      <xs:attribute name="rend" type="xs:string"/>
      <xs:attribute name="to" type="xs:string"/>
      <xs:attribute name="when" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="gap">
    <xs:complexType mixed="true">
      <xs:attribute name="reason" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="measure">
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sic">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ref"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="incident"/>
         <xs:element minOccurs="0" maxOccurs="unbounded" ref="w"/>
      </xs:sequence>
      <xs:attribute name="ana" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="w">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="hi"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ref"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="q"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sic"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
 <!-- <xs:element name="w">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>-->
  <xs:element name="time">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="w"/>
      </xs:choice>
      <xs:attribute name="when" type="xs:string"/>
      <xs:attribute name="from" type="xs:time"/>
      <xs:attribute name="to" type="xs:time"/>
  </xs:complexType>
  </xs:element>
  <xs:element name="quote">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="add"/>
        <xs:element ref="q"/>
        <xs:element ref="date"/>
        <xs:element ref="foreign"/>
        <xs:element ref="p"/>
        <xs:element ref="w"/>
        <xs:element ref="ref"/>
        <xs:element ref="hi"/>
        <xs:element ref="s"/>
        <xs:element ref="gap"/>
        <xs:element ref="sic"/>
      </xs:choice>
      <xs:attribute name="rend" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="figure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="caption"/>
      </xs:sequence>
      <xs:attribute name="rend" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="caption">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="foreign"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="quote"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="hi"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="s"/>
      </xs:sequence>
      <xs:attribute name="rend"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="p">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" ref="add"/>
        <xs:element minOccurs="0" ref="figure"/>
        <xs:element minOccurs="0" ref="hi"/>
        <xs:element minOccurs="0" ref="lg"/>
        <xs:element minOccurs="0" ref="note"/>
        <xs:element minOccurs="0" ref="quote"/>
        <xs:element minOccurs="0" ref="list"/>
        <xs:element maxOccurs="unbounded" ref="s"/>
 <xs:element maxOccurs="unbounded" ref="sp"/>
      </xs:choice>
      <xs:attribute name="rend"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="table">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" ref="head"/>
        <xs:element minOccurs="1" ref="row"/>
 <xs:element maxOccurs="unbounded" ref="s"/>
      </xs:choice>
      <xs:attribute name="rend"/>
      <xs:attribute name="rows" type="xs:integer"/>
      <xs:attribute name="cols" type="xs:integer"/>
     
    </xs:complexType>
  </xs:element>
    <xs:element name="row">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0"  maxOccurs="unbounded" ref="cell"/>
        <xs:element minOccurs="0"  maxOccurs="unbounded" ref="s"/>
      </xs:sequence>
      <xs:attribute name="n" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
    <xs:element name="cell">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element minOccurs="0" ref="figure"/>
 <xs:element minOccurs="0" ref="date"/>
        <xs:element minOccurs="0" ref="list"/>
        <xs:element minOccurs="0" ref="ref"/>
        <xs:element minOccurs="0" ref="hi"/>
        <xs:element minOccurs="0" ref="s"/>
      </xs:choice>
      <xs:attribute name="n" type="xs:integer"/>
      <xs:attribute name="rend" type="xs:string"/>
      <xs:attribute name="role" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="list">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="figure"/>
        <xs:element ref="item"/>
      </xs:choice>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ordered"/>
            <xs:enumeration value="unordered"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="head"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="figure"/>
          <xs:element ref="ref"/>
          <xs:element ref="hi"/>
          <xs:element ref="w"/>
          <xs:element ref="list"/>
          <xs:element ref="p"/>
          <xs:element ref="s"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="n" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="add">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element maxOccurs="unbounded" ref="s"/>
        <xs:element maxOccurs="unbounded" ref="ref"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="l">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element maxOccurs="unbounded" ref="s"/>
        <xs:element maxOccurs="unbounded" ref="sic"/>
        <xs:element maxOccurs="unbounded" ref="w"/>
        <xs:element maxOccurs="unbounded" ref="date"/>
      </xs:choice>
      <xs:attribute name="n" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="hi">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ref"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="date"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="figure"/>
         <xs:element minOccurs="0" maxOccurs="unbounded" ref="foreign"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="incident"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="w"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="lg"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="s"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="caption"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="q"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sic"/>
      </xs:sequence>
      <xs:attribute name="rend" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ref"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="figure"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="incident"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="w"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="lg"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="s"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="caption"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="q"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sic"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="date"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="hi"/>
      </xs:sequence>
      <xs:attribute ref="xml:lang" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="q">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="figure"/>
          <xs:element ref="hi"/>
          <xs:element ref="w"/>
          <xs:element ref="sic"/>
          <xs:element ref="ref"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ref">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="add"/>
        <xs:element ref="w"/>
        <xs:element ref="hi"/>
        <xs:element ref="sic"/>
        <xs:element ref="date"/>
      </xs:choice>
      <xs:attribute name="target" type="xs:anyURI"/>
      <xs:attribute name="rend" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
